################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/.vs/hello-myo-VisualStudio2013/v15/ipch/AutoPCH/184643aa10d93ff2
